<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%=title%></title>
    <style type="text/css">
        video{
            width: 100%;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--<script type="text/javascript" src="../app/chat/js/rtc.js"></script>-->
<script type="text/javascript" src="js/live_pull.js"></script>
</body>
</html>